.hookah-head {
    &__title {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #363636;
        padding-bottom: 5px;

        @media (min-width: 768px) {
            font-size: 18px;
            padding-bottom: 10px;

        }

        @media (min-width: 992px) {
            font-size: 20px;
        }
    }

    &__subtitle {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #363636;

        @media (min-width: 992px) {
            font-size: 18px;
        }
    }
}

.hookah-geoposition {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 20px;
    background: #FAFAFA;

    @media (max-width: 575px) {
        padding: 15px 12px;
        position: absolute;
        bottom: 0;
        left: -12px;
        background: #909198;
        width: calc(100% + 24px);
        // backdrop-filter: blur(10px);
        border-radius: 5px;
    }

    &__icon {
        fill: #909198;
        height: 35px;
        width: 22px;
        margin-right: 20px;

        @media (max-width: 575px) {
            fill: #FAFAFA;
            margin-right: 15px;
        }
    }

    &__descr {
        display: flex;
        flex-direction: column;
    }

    &__txt {
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.01em;
        color: #FAFAFA;


        @media (min-width: 576px) {
            color: #FAFAFA;
            font-size: 14px;
            color: #090909;
        }

        @media (min-width: 992px) {
            font-size: 16px;
        }

        &:first-child {
            padding-bottom: 3px;
        }
    }
}

.hookah-characteristics {
    &__list {}

    &__item {
        display: flex;
        padding-bottom: 7px;

        @media (min-width: 992px) {
            padding-bottom: 10px;
        }
    }

    &__label {
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #090909;
        width: 50%;
        padding-right: 5px;

        @media (min-width: 992px) {
            font-size: 16px;
            padding-right: 10px;
        }
    }

    &__value {
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #909198;
        // width: 50%;

        @media (min-width: 992px) {
            font-size: 20px;
            font-size: 16px;

        }
    }
}

.hookah-inner {
    width: 90%;

    @media (min-width: 768px) {
        width: 65%;
    }

    @media (min-width: 992px) {
        width: 100%;
    }

    @media (min-width: 1200px) {
        width: 80%;
    }
}

.hookah-headline {
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #090909;
    border-left: 2px solid #16B0A7;
    padding-left: 10px;
    margin-bottom: 20px;
}

.hookah-networks {
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__item {}

    &__link {
        &:hover {
            .hookah-networks__icon {
                fill: #16B0A7;
            }
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: #909198;
        transition: all .5s;
    }
}

.hookah-user-head {
    padding-bottom: 20px;
    padding-top: 30px;
}

.hookah-user-search {
    display: flex;
    padding-bottom: 15px;

    &__txt {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #909198;
    }

    &__link {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #909198;
        transition: all .5s;
        margin-left: 15px;

        &:hover {
            color: #363636;
        }

        &.active {
            color: #363636;
        }
    }
}

.hookah-selects {

    @media (max-width: 767px) {
        display: flex;
        justify-content: space-between;
    }

}

.select-general-hidden {
    display: none;
    visibility: hidden;
}

.custom-general-select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
}

.custom-general-select__header {
    position: relative;
    width: 128px;
    height: 25px;
    cursor: pointer;
    padding: 0 5px;
    border: 1px solid #909198;
    border-radius: 5px;

    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #909198;

    @media (min-width: 768px) {
        width: 164px;
        margin-right: 20px;
    }

    &::after {
        display: inline-block;
        content: "";
        border-top: 7px solid #909198;
        border-right: 7px solid transparent;
        border-bottom: 0;
        border-left: 7px solid transparent;
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
    }
}

.select-general-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    list-style: none;
    box-shadow: 0px 0px 10px -5px #000000;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px 0;

    li {
        padding: 5px 10px;
        display: block;
        font-weight: 500;
        border-bottom: 1px solid #F7F7F5;
        transition: 0.5s all ease;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            color: #16B0A7;
        }
    }
}