.general-head {
    padding-top: 25px;
    padding-bottom: 15px;

    @media (min-width: 992px) {
        padding-top: 60px;
        padding-bottom: 25px;
    }

    &__title {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #363636;
        padding-left: 15px;
        border-left: 2px solid #16B0A7;

        @media (min-width: 992px) {
            font-size: 20px;
        }
    }

    &__actions {
        text-align: right;
        padding-top: 10px;
    }

    &__btn {
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: #909198;
        transition: all .5s;

        @media (min-width: 992px) {
            font-size: 16px;
        }

        &:hover {
            color: #363636;
        }
    }
}

.general-swiper-slide {
    @media (min-width: 992px) {
        flex-shrink: 1 !important;
        width: 25% !important;
    }
}

.general-pagination {
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
    margin-top: 15px;

    @media(min-width: 992px) {
        display: none;
    }

    &_d-flex {
        @media(min-width: 992px) {
            display: flex;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background: #FAFAFA;
        cursor: pointer;

        &:first-child {
            margin-right: 2px;
        }

        &:last-child {
            margin-left: 2px;
        }

        &--icon {
            width: 10px;
            height: 15px;
        }

        &--icon_prev {
            transform: rotate(180deg);
        }
    }
}

.breadcrumbs {
    &__list {}

    &__item {
        display: inline-block;

        &:not(:last-of-type)::after {
            content: '/';
            font-size: 12px;
            margin: 0 5px;
            color: #363636;

            @media (min-width: 992px) {
                font-size: 20px;
            }
        }
    }

    &__link {
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.02em;
        color: #363636;
        transition: all .5s;

        &:hover {
            color: #000;
        }

        @media (min-width: 992px) {
            font-size: 20px;
        }
    }

    &__link_active {
        color: #909198;

        &:hover {
            color: #909198;
        }
    }
}

.select {
    text-align: right;
    line-height: 0;

    &__btn {
        line-height: 0;

        &--icon {
            width: 20px;
            height: 20px;
        }
    }
}