.container {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__body {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: center;
    }

    &__logo {
        flex: 0 0 55px;
        // border-radius: 50%;
        overflow: hidden;
        position: relative;
        z-index: 3;
    }

    &__logo img {
        max-width: 100%;
        display: block;
    }

    &__list {
        display: flex;
        position: relative;
        z-index: 2;
    }

    &__list-span {
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: #363636;
    }

    &__list-span_theme_white {
        @media (min-width: 992px) {
            color: #FAFAFA;

        }
    }

    &__list li {
        list-style: none;
        margin: 0px 0px 0px 30px;
    }

    &__burger {
        display: none;
    }

    &__link {
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: #363636;
    }

    &__link_theme_white {
        @media (min-width: 992px) {
            color: #FAFAFA;

        }
    }

    &__nav {
        position: relative;
        z-index: 3;
    }

    &__nav-link {
        margin-left: 15px;

        @media (min-width: 992px) {
            margin-left: 40px;
        }
    }

    &__nav-icon {
        width: 20px;
        height: 20px;
    }

    &__mobile-btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 60px;

        @media (min-width: 992px) {
            display: none;
        }
    }

    &__btn-help {
        &--icon {
            width: 25px;
            height: 25px;
        }
    }

    &__mobile-leng-btns {
        display: flex;
        border-radius: 5px;
        overflow: hidden;
    }

    &__mobile-leng-btn {
        display: block;
        background: #FAFAFA;
        color: #909198;
        padding: 10px;
        transition: all .5s;

        &:first-child {
            margin-right: 1px;
        }

        &:last-child {
            margin-left: 1px;
        }

        &:hover {
            color: #363636;
        }
    }

    &__mobile-leng-btn.active {
        color: #363636;
    }
}

.main-header {
    &__btn-help {
        display: none;

        @media(min-width: 992px) {
            display: block;
        }
    }
}

.main-header::before {
    opacity: 0;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    z-index: 2;
}

@media (max-width:992px) {
    body.lock {
        overflow: hidden;
    }

    .header__body {
        height: 50px;
    }

    .header__logo {
        flex: 0 0 40px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }

    .header__burger span {
        position: absolute;
        background-color: #909198;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #909198;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger_theme_white span {
        position: absolute;
        background-color: #FAFAFA;
    }

    .header__burger_theme_white:before,
    .header__burger_theme_white:after {
        content: '';
        background-color: #FAFAFA;
    }

    .header__burger_theme_white.active span {
        position: absolute;
        background-color: #909198;
    }

    .header__burger_theme_white.active:before,
    .header__burger_theme_white.active:after {
        content: '';
        background-color: #909198;
    }



    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: #fff;
        padding: 70px 10px 20px 25px;
    }

    .header__menu.active {
        left: 0;
    }

    .header__list {
        display: block;
    }

    .header__list li {
        margin: 0px 0px 20px 0px;
    }
}




.general-content {
    padding: 100px 0px 0px 0px;

    &__text {
        font-size: 18px;
        line-height: 25px;
    }

    &__text p {
        margin: 0px 0px 20px 0px;
    }
}

@media (max-width:992px) {
    .general-content {
        padding: 70px 0px 0px 0px;
    }
}