.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__body {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: center;
    }

    &__logo {
        flex: 0 0 55px;
        // border-radius: 50%;
        overflow: hidden;
        position: relative;
        z-index: 3;
    }

    &__logo img {
        max-width: 100%;
        display: block;
    }

    &__burger {
        display: none;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FAFAFA;
        z-index: 2;
        transition: all .5s;
    }

}

.header_theme_main {
    &::before {
        opacity: 0;
    }
}

@media (max-width:991px) {
    body.lock {
        overflow: hidden;
    }

    .header__body {
        height: 50px;
    }

    .header__logo {
        flex: 0 0 40px;
    }

    .header-btns {
        z-index: 10;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 10;
    }

    .header__burger span {
        position: absolute;
        background-color: #909198;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #909198;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header_theme_main {
        .header__burger_theme_white span {
            position: absolute;
            background-color: #FAFAFA;
        }

        .header__burger_theme_white:before,
        .header__burger_theme_white:after {
            content: '';
            background-color: #FAFAFA;
        }

        .header__burger_theme_white.active span {
            position: absolute;
            background-color: #909198;
        }

        .header__burger_theme_white.active:before,
        .header__burger_theme_white.active:after {
            content: '';
            background-color: #909198;
        }
    }


    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
}

.header-btns {
    display: flex;
    position: relative;
    z-index: 3;

    &.active {

        .header-btn {
            &__button {
                &--icon {
                    fill: #363636;
                    transition: fill .5s;
                }
            }

            &__link {
                &--icon {
                    fill: #363636;
                    transition: fill .5s;
                }
            }
        }
    }

}

.header-btn {
    padding-left: 15px;
    position: relative;

    @media (min-width: 992px) {
        padding-left: 40px;
    }

    &:first-child {
        padding-left: 0;

        @media (min-width: 992px) {
            padding-left: 40px;
        }
    }

    &__button {
        background: transparent;
        cursor: pointer;

        &--icon {
            width: 20px;
            height: 20px;
            fill: #363636;
            transition: fill .5s;
        }
    }

    &__link {
        &--icon {
            width: 20px;
            height: 20px;
            fill: #363636;
            transition: fill .5s;
        }
    }

    &__log-dropdown {
        position: absolute;
        right: -40px;
        bottom: -160px;
        width: 300px;
        background: #fff;
        box-shadow: 0 4px 20px rgba(0, 0, 0, .25);

        @media (min-width: 768px) {
            right: 0;
        }

        &.hide {
            display: none;
        }
    }

    &__log-dropdown-list {
        padding: 7px 15px;
    }

    &__log-dropdown-item {
        padding-bottom: 15px;

        &:last-child {
            padding-bottom: 0;
        }
    }

    &__log-dropdown-link {
        display: block;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: #363636;
        transition: all .5s;

        @media (min-width: 768px) {
            font-size: 16px;
        }

        &:hover {
            color: #16B0A7;
        }
    }
}

.basket-dropdown {
    position: absolute;
    right: -6px;
    // bottom: -220px;
    width: 310px;
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .25);
    padding: 10px;

    @media (min-width: 576px) {
        width: 410px;
    }

    @media (min-width: 768px) {
        right: 0;
        // bottom: -220px;
        width: 520px;
        padding: 30px;
    }

    @media (min-width: 992px) {
        // bottom: -255px;
    }

    &.hide {
        display: none;
    }

    &__headline {
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: #090909;
        padding-bottom: 20px;

        @media (min-width: 768px) {
            font-size: 16px;
        }
    }
}

.header-btn.active {


    &__link {
        &--icon {
            fill: #363636;
            transition: fill .5s;
        }
    }
}

.header-mobile-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;

    @media (min-width: 992px) {
        display: none;
    }
}

.header-help {
    z-index: 9;

    &__btn {
        background: transparent;
        cursor: pointer;

        &--icon {
            width: 25px;
            height: 25px;
            fill: #363636;
            transition: fill .5s;
        }
    }

    &__btn_theme_main {
        display: none;

        @media(min-width: 992px) {
            display: block;
        }
    }
}

.header-menu {
    @media (max-width:991px) {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: #fff;
        padding: 70px 10px 20px 25px;
    }

    &.active {
        z-index: 5;

        @media (max-width:991px) {
            left: 0;
        }
    }

    &__list {
        display: flex;
        position: relative;
        z-index: 2;

        @media (max-width:991px) {
            display: block;
        }
    }

    &__item {
        list-style: none;
        margin: 0px 0px 0px 30px;

        @media (max-width:991px) {
            margin: 0px 0px 20px 0px;
        }
    }

    &__link {
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: #363636;
        transition: all .5s;

        &:hover {
            color: #16B0A7;
        }
    }

    &__list-span {
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: #363636;
        transition: color .5s;
    }
}

.lang-switcher {
    display: flex;
    border-radius: 5px;
    overflow: hidden;

    &__link {
        display: block;
        background: #FAFAFA;
        color: #909198;
        padding: 10px;
        transition: all .5s;

        &:first-child {
            margin-right: 1px;
        }

        &:last-child {
            margin-left: 1px;
        }

        &:hover {
            color: #363636;
        }

        &.active {
            color: #363636;
        }
    }
}

.general-content {
    padding: 80px 0px 0px 0px;
}

@media (max-width:992px) {
    .general-content {
        padding: 50px 0px 0px 0px;
    }
}

.header_theme_main {
    .header-btn {
        &__link {
            &--icon {
                fill: #FAFAFA;
            }
        }
    }

    .header-btn {
        &__button {
            &--icon {
                fill: #FAFAFA;
            }
        }
    }

    .header-help {
        &__btn {
            &--icon {
                fill: #FAFAFA;
            }
        }
    }

    .header-menu {
        &__link {
            @media (min-width: 992px) {
                color: #FAFAFA;
            }
        }

        &__list-span {
            @media (min-width: 992px) {
                color: #FAFAFA;
            }
        }
    }

}