.everything-head {
    &__headline {
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: #090909;
    }
}

.everything-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.everything-nav {
    width: 100%;

    @media(min-width: 992px) {
        width: 15%;
    }

    &__list {
        display: flex;
        justify-content: space-between;

        @media(min-width: 992px) {
            display: block;
        }
    }

    &__item {
        padding-bottom: 10px;
    }

    &__link {
        font-weight: normal;
        font-size: 15px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: #363636;
        transition: all .5s;

        &:hover {
            color: #16B0A7;
        }

        &.active {
            color: #16B0A7;
        }

        @media(min-width: 992px) {
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: #909198;
        }
    }
}

.everything-partners {
    width: 100%;

    @media(min-width: 992px) {
        width: 85%;
    }
}