.shop-card {
    @media(min-width: 992px) {
        padding-left: 30px;
    }

    &__photo {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }

    &__descr {
        padding-top: 10px;
    }

    &__link {
        color: #363636;
        transition: all .5s;

        &:hover {
            color: #090909;
        }
    }

    &__headline {
        text-align: center;
        font-weight: normal;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0.02em;
        padding-bottom: 10px;
    }

    &__foot {
        display: flex;
        justify-content: center;
    }

    &__rate {
        display: flex;
        margin-left: 3px;

        &:first-child {
            margin-left: 0;
        }

        &--icon {
            width: 20px;
            height: 20px;
        }
    }
}

.section-shop-slider {
    &__wrapper {
        @media (min-width: 992px) {
            display: flex;
            justify-content: space-between;
        }
    }
}